@model CRUD_APP_.Models.User_model

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Internal Portal</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h2>Work portal</h2>
    <p>Hi ________ See assigned tickets and task.</p>

    <div class="Usercontainer">
        <h1>Welcome to my website</h1>
        <button class="seetaskbtn">See Assigned tickets</button>
        <button class="approvebtn">Approval request</button>
        <button class="contactbtn">Get in touch</button>
    </div>
    
    <script src="~/js/site.js"></script>
</body>
</html>
