@model CRUD_APP_.Models.Adminhomedashboard

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ADMIN DASHBOARD</title>
</head>
<form>
    <label for="firstname">First Name:</label>
    <input type="text" id="firstname" name="firstname"><br><br>
    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" name="lastname"><br><br>
    <input type="submit" value="Submit">       
</form>
<body>
<div>
    <p>
        This is the start of the ADMIN DASHBOARD
    </p>

</div>
</body>
</html>