@model CRUD_APP_.Models.Adminhomedashboard

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Internal Portal</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<h2>Internal PORTAL</h2>
<p>Hi ________ Manage users, tickets and task.</p>

<div class="Mangeusercontainer">
    <h1>Welcome to my website</h1>
    <button class="manageuserbtn">Manage Users</button>
    <button class="manageticketbtn">Manage Tickets</button>
    <button class="managetaskbtn">Manage Tasks</button>
    
</div>
<div>

</div>
<script src="~/js/site.js"></script>
</body>
</html>